/*@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption');

div {
	font-family: 'PT Serif Caption', serif;
}*/

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 12%;
	/*background: red;*/
}

li {   
	padding: 15px;
    /*background-color: #ddd;*/
    color: white;
    font-size: 18px;
    text-align: center;
    /*display: block;*/
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    transition-property: background;
    transition-duration: 0.3s;
}

a:hover {
	text-decoration: none
}

a{
	color: white;
}

li.menu:hover {
	background: #A54BE0;
	transition-property: background;
	transition-duration: 0.3s;
}


