.conts {
    height: 500px;
    text-align: left;
    border: 2px solid #DED2CF;
    border-radius: 20px;
    font-size: 25px;
    box-shadow: 5px 0 50px #888888;
}

.btnlinks {
	border-radius: 5px;
	margin: auto;
	display: block
}
