.cont {
	height: 500px;
    text-align: center;
    border: 2px solid #DED2CF;
    font-size: 21px;
    background-image: url("https://previews.123rf.com/images/doimogoju/doimogoju1404/doimogoju140400012/27770527-soccer-football-field-stadium-grass-line-ball-background-texture-light-shadow-on-the-grass.jpg");
    color: white;
    text-shadow: 5px 5px 5px black;
    background-color: rgba(200,200,200,1);
    background-repeat: no-repeat;
    background-size: cover
        
}

.cont:hover {
	background-blend-mode: multiply;
	background-color: rgba(218, 142, 230, 1);
	transition-property: background-color;
	transition-duration: 0.3s;
}

.conts {
    height: 500px;
    text-align: center;
    border: 2px solid #DED2CF;
    font-size: 21px;
    color: white;
    text-shadow: 5px 5px 5px black;
    background-color: #373a47;      
}

/*.col {
  
}

.cont > *{
  max-height: 100%;
}

@media screen and (min-width: 512px) {
    myNewDivHeight{
        width:1000px;
    }
}*/