.main {
	margin-left: auto;
}

@media (min-width: 280px) and (max-width: 450px) {
.device {
	
}
}

.sidebar {
	position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    background-color: #373a47;
    min-height: 100vh;
	box-shadow: 5px 0 70px #888888;
	padding-left: 0; 
	padding-right: 0;
	max-width: auto
}

